<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "resume/CSS/main_page.css" %}"/>
    <script>
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous">
    </script>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav id="nav" class="navbar navbar-default navbar-fixed-top navbar-inverse">

      <!-- <div class="container"> -->

        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

              <!--  Code for the hamburger icon-->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{% url 'resume:show_resume' %}" >Welcome</a>
          </div>

          <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% if user.is_authenticated %}
              <li><a href="#aboutme">About Me</a></li>
              <li><a href="#careers">Resume</a></li>
              <li><a href="#skillz">Skills</a></li>
                <li><a href="#commentzone">Comments</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'user_login' %}">Login</a></li>
              {% endif %}
            </ul>


              <!-- Clock Nav Bar (better if i put in js file?)-->

          <ul id="nav "class="nav navbar-nav navbar-right">
          <li><a href="E:\code\My_Website\main_page.html"><div id="clockbox"></div>

                    <script type="text/javascript">
                    var tday=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                    var tmonth=["January","February","March","April","May","June","July","August","September","October","November","December"];

                    function GetClock(){
                    var d=new Date();
                    var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
                    var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

                    if(nhour==0){ap=" AM";nhour=12;}
                    else if(nhour<12){ap=" AM";}
                    else if(nhour==12){ap=" PM";}
                    else if(nhour>12){ap=" PM";nhour-=12;}

                    if(nmin<=9) nmin="0"+nmin;
                    if(nsec<=9) nsec="0"+nsec;

                    var clocktext=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
                    document.getElementById('clockbox').innerHTML=clocktext;
                    }

                    GetClock();
                    setInterval(GetClock,1000);
            </script></a></li>

      </ul>
      <!-- </div> -->
    </nav>

      {% block body_block %}

      {% endblock %}




  </body>
</html>
